<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChineseCharacterTrainerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11002/ChineseCharacterTrainerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChineseCharacterTrainerService"
                contract="ServiceReference.IChineseCharacterTrainerService"
                name="BasicHttpBinding_IChineseCharacterTrainerService" />
        </client>
    </system.serviceModel>
</configuration>