<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChineseCharacterTrainerService" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
    </bindings>
    
    <client>
      <!--<endpoint address="http://localhost:11002/ChineseCharacterTrainerService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChineseCharacterTrainerService"
          contract="ServiceReference.IChineseCharacterTrainerService"
          name="BasicHttpBinding_IChineseCharacterTrainerService" />-->
      <endpoint address="http://chinesecharactertrainer.apphb.com/ChineseCharacterTrainerService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChineseCharacterTrainerService"
          contract="ServiceReference.IChineseCharacterTrainerService"
          name="BasicHttpBinding_IChineseCharacterTrainerService" />
    </client>
  </system.serviceModel>
</configuration>
